*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: "Outfit", sans-serif;
    font-weight: bold;
}

div {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 199, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: 700;   
        margin: auto; 
}

.imagen-principal{
    width: 100%;
    height: auto;
}

aside{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px rgb(218, 41, 28);
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 50px;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}



main section img {
    margin: 30px 0;
}

article{
    width: 100%;
    height: auto;
  
    display: flex;
    justify-content: center;
    align-items: center; 
   
}


article img{
    width: 33%;
    height: auto;
}

footer{
    width: 100%;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 199, 44);
    padding-bottom: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    
  }
  
  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    margin: 20%;
  
  }
  
  footer ul img {
    width: 24px;
    height: auto;

  }